.badge {
  width: 60px;
}

@media (min-width: 1600px) {
  .container {
    font-size: 2em !important;
  }
  .btns {
    button {
      font-size: 1em;
    }
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
  .table {
    tr td, tr th {
      padding: 1.5rem 1.5rem;
    }
  }
  .badge {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .btns button i {
    display: none;
  }
}